{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Your Profile
{% endblock title %}
 
{% block content %}
    <h3 class="card-title text-uppercase text-dark">Edit Profile</h3>
    <div class="text-center">

    </div>
    <div class="justify-content-between d-flex pb3">
        <p>{{request.user.username}}</p>
        <p>Subscribed Categories:</p>
        {% for cat in categories %}
            <p>{{cat.cat_name}}</p>
        {% endfor %}
    </div>
    {% if not is_author %}
    <button> <a href="become_author/"> Become an author</a> </button>
    {% endif %}
{% endblock content %}